watchdog
flask
flask-cors
rasterio
# fix for travis
#pygdal>=1.9.2
https://github.com/geobricks/geobricks_common/archive/development.zip
https://github.com/geobricks/geobricks_proj4_to_epsg/archive/development.zip